{% extends 'base.html' %}
{% block head %}
    <title>Error</title>
    {% for map_header in map_headers  %}
        {{map_header|safe}}
    {% endfor %}
{% endblock %}

{% block body %}
<div>
    <h1 class="title-header"> Podczas korzystania z WiBIT wystąpił problem </h1>
    <h2 class="title-disclaimer"> {{ communicate }} </h2>

    <div class="row justify-content-center">
        <a href="{{url_for('show_home')}}" class="main-page-option col-11 col-md-5 col-lg-3">
            Strona główna
        </a>

    </div>

</div>
{% endblock %}
