{% extends 'base.html' %}
{% block head %}
    <title>Suggested trip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/suggested_trip.css') }}">

    {% for map_header in map_headers  %}
        {{map_header|safe}}
    {% endfor %}
{% endblock %}

{% block body %}
<body>
    <h1 class="title-header">Proponowana wycieczka</h1>
    <div class="maps_container">
        {% for map_html, map_script, places, date in trajectories_data %}
        <div class="row item">
            <h3> Dzień {{ loop.index }}, {{ date }}</h3>
            <div class="big-map col-12 col-md-6 col-xl-8">
                {{ map_html|safe }}

                <script>
                    {{ map_script|safe }}
                </script>

            </div>

            <div class="col-12 col-md-6 col-xl-4">
                <h2> Trasa wycieczki </h2>
                {% set outer_loop = loop %}
                <form id="opinion-form_{{outer_loop.index}}" class="suggested-form" action="/suggest_again/{{loop.index}}" method="post">
                    {% for place in places %}
                    <div class="one-line">
                        <p class="trip-place-name"> {{place.name}} </p>
                        <input id="remove_{{place.xid}}" form="opinion-form_{{outer_loop.index}}" class="not-displayed remove-checkbox" type="checkbox"
                               name="remove_{{place.xid}}" value="{{place.xid}}">
                        <label class="base-label edit-trip-label" for="remove_{{place.xid}}"> <span>USUŃ</span> </label>
                        <input id="replace_{{place.xid}}" form="opinion-form_{{outer_loop.index}}" class="not-displayed replace-checkbox" type="checkbox"
                               name="replace_{{place.xid}}" value="{{place.xid}}">
                        <label class="base-label edit-trip-label" for="replace_{{place.xid}}"> <span>WYMIEŃ</span> </label>
                    </div>
                    {% endfor %}


                    <h3> Dodatkowe opcje </h3>
                    <div class="row justify-content-center">
                        <input class="base-button col-11 col-lg-7" type="submit" value="Wygeneruj inną trasę" name="button_disapprove">
                    </div>

                </form>

            </div>
        </div>
        {% endfor %}

        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">

                {% if is_auth %}
                <form id="save-trip-form" class="row justify-content-center">
                    <input type="submit" class="base-button col-11 col-lg-7" value="Zapisz wycieczkę">
                </form>

                <div class="row justify-content-center">
                    <a href="{{ url_for('all_saved_trips') }}" class="base-button col-11 col-lg-7">
                        Zapisane wycieczki
                    </a>
                </div>
                {% else %}
                <div class="row justify-content-center">
                    <div class="auth-proposition-link col-11 col-lg-7">
                        Zalogowani użytkownicy mogą zapsać wycieczkę.
                        <a href="{{url_for('login')}}"> Zaloguj się </a> lub <a href="{{url_for('registration')}}"> Zarejestruj się </a>
                    </div>
                </div>

                {% endif %}

                <div class="row justify-content-center">
                    <a  href="{{ url_for('show_home') }}" class="base-button col-11 col-lg-7">
                        Strona główna
                    </a>
                </div>
            </div>
        </div>

    </div>


<script>
    $(document).ready(function () {
        $('#save-trip-form').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/save-trip',
                success: function (data) {
                    alert('Zapisano pomyślnie');
                },
                error: function () {
                    alert('Błąd podczas zapisywania');
                }
            });
        });
    });
</script>
{% endblock %}
