#div-yesnotoggle {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

#div-notext {
  display: inline-block;
  text-align: right;
}

#div-switch {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

#div-yestext {
  display: inline-block;
  text-align: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a7a7a7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: whitesmoke;
  -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
  background-color: #C99E6C;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.div-label-text{
  text-align: center;
  width: calc(50% - 60px);
}

.div-label-text h5{
  font-size: 16px;
}

.div-label-text {
  font-size: 14px;
}

.div-label-text h5{
   display: inline;
}

#yestext-info, #notext-info{
  border-radius: 50%;
  background: #C99E6C;
  color: white;
  padding: 3px 9px 1px 9px;
  font-weight: bolder;
  font-size: 16px;
}

#tooltip {
  position: fixed;
  display: none;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 6px;
  box-shadow: 2px 2px 4px black;
  z-index: 1000;
  border-radius: 5px;
  width: 256px;
  font-size: 14px;
}


@media only screen and (max-width: 768px) {
  #yestext-info, #notext-info{
    display: none;
  }
}

/* https://stackoverflow.com/questions/41129060/centering-text-on-either-side-of-a-toggle */