{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/quick_trip.css') }}">

    <title>Choose page</title>
{% endblock %}

{% block body %}
<div>
    <h1 class="title-header"> Parametry szybkiej wycieczki </h1>
    <form class="centered-form" id="region_form" method="POST">
        <div>
            <label for="duration_dropdown"> Wybierz czas trwania wycieczki</label>
            <br>
            <select id="duration_dropdown" name="duration_dropdown" required>
                {% for option in options %}
                <option value={{option['time']}}>{{option['name']}}</option>
                {% endfor %}
            </select>

            <br><br>
            <label for="region_text">Wprowadź nawzę miasta albo regionu, gdzie odbędzie się wycieczka</label><br>
            <input id="region_text" name="region_text" type="text">
            <br><br>
            <button class="base-button " type="submit" form="region_form">Dalej</button>

        </div>
    </form >
</div>
{% endblock %}
