{% extends 'base.html' %}
{% block head %}
    <title>Wirtualne Biuro Informacji Turystycznej</title>
{% endblock %}

{% block body %}

<div>
    <h1 class="title-header menu-header"> Witaj {{ user_name }} </h1>

    <div class="row justify-content-center">
        <a href="{{url_for('show_home')}}" class="main-page-option col-11 col-md-5 col-lg-4">
            Nowa wycieczka
        </a>

        <a href="{{url_for('all_saved_trips')}}" class="main-page-option col-11 col-md-5 col-lg-4">
            Zapisane wycieczki
        </a>

        <a href="{{url_for('edit_preferences')}}" class="main-page-option col-11 col-md-5 col-lg-4">
             Preferencje
        </a>

        <a href="{{url_for('logout')}}" class="main-page-option col-11 col-md-5 col-lg-4">
            Wyloguj się
        </a>
    </div>

</div>
{% endblock %}
